<div class="center-align">
  <h5 class="white-text">Your Selected Image</h5>
  <div class="card z-depth-5" style="height:60vh;width:100%;">
    <img [src]="selectedImage"  style="height: 100%;width:100%;">
  </div>
  <div *ngIf="!searchResultList" class="center-align" style="margin-top:20%">
      <div class="progress" style="width: 70%; margin:auto; background-color: #37474f">
          <div class="indeterminate" style="background-color: rgb(104, 204, 5);
          "></div>
      </div>
      <span class="white-text">Wait while we fetch clothes suited to your requirements....</span>
  </div>

</div>